Перейти к основному контенту
Google Класс
Класс
24_2025_ИД321_22вб_Создание_WEB
Митрофанов Михаил Владимирович
Главная страница
Календарь
Курсы, слушателем которых я являюсь
Список заданий
И
ИД 321-22вб Менеджмент производственного подразделения
У
Управление коллективом группа ИД-321\22
Управление коллективом
И
ИД-321/22 МДК 02.02 Редактирование каналов информации
Редактирование каналов информации
2
24_2025_ИД321_22вб_Создание_WEB
Митрофанов Михаил Владимирович
В
Верстка 3 курс
И
ИД-321/22ВБ
П
Производственная практика ПП.05
У
УП01
И
ИД-321/22 (2025)
Карамзина В.А. (Мультимедиа)
У
УП.05 ИД-221
И
ИД-221/22вб Экологические основы природопользования
Игнатова Маргарита Викторовна
И
ИД-221/22 ВБ Оператор ЭВМ
И
ИД-221/22вб МДК.01.01 Технология комплексной работы с текстом
МДК.01.01 Технология комплексной работы с текстом
Я
Я - будущий редактор
И
ИД-321
Технология комплексной работы с текстом
И
ИД-221/22вб Ен.02 Информационные технологии в профессиональной деятельности
Леонтьева Л.П.
И
ИД-321/22 вб
МДК.04.01 Редакторский анализ текста при подготовке его к изданию
И
ИД-321/22 вб Информационные технологии в издательском деле
Леонтьева Л. П.
И
ИД-221/22 вб МДК 02.01. Создание оригинал-макета
И
ИД-321/22вб
Архив курсов
Настройки
п24_Создание слайдера на JS
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background: #111;
  height: 100vh;
  display: flex;
  justify-content: center; /*возможно глючил - есть задержка сервера виртуального - тут пока четко  */
  align-items: center;
}
.container {
    width: 100%;
    display: flex;
    padding: 0 20px;
}
.slide {
    height: 80vh;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer; /* курсор пальчик*/
    color: #fff;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; /* тут была пропущена строка*/
    transition: all 500ms ease-in-out; /* переход слайдов из одного в другой*/
}
.slide h3{      /* тут почему-то названия упали вниз и в кучу??*/
    position: absolute;
    font-size: 24px;
    bottom: 20px; /* тут вручную поднял и сдвинул надпись line 36, 37*/
    left: 20px;
    margin: 0;
    opacity: 0; /* тут прячут названия карточек */ 
}
/* начало работы с анимацией: выбор 1 активного элемента 34 строка html для Aston*/
.slide.active{
    flex: 10; /* тут увеличение размера слайда*/
}
.slide.active h3{       /* если слайд активный то применяем некоторае стили */
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s; /* задаем анимацию: свойство, длительность ее кинематику*/
}
style.css
style.css. На экране.
п24_Создание слайдера на JS
Митрофанов Михаил Владимирович
•
31 янв.
100 баллов
Зайти в github, создайте репрозиторий slides и загрузите в него готовые файлы.
Опубликуйте репрозиторий, ссылку на него пришлите в гугл-класс.
Прочитайте комментарии в каждом файле и особенно в js.
Добавьте 2-а новых слайда, измените иллюстрации и подписи.

style.css
CSS

app.js
JavaScript

index.html
HTML
Комментарии
Мои задания
Назначено
Личные комментарии
